nav {
    display: flex;
    height: 50px;
    background-color: teal;
}

.box {
    width: 50px;
    background-color: indianred;
    text-align: center;
    padding: 1%;
    font-size: 24px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    background: darkgrey;
    overflow: hidden;
    max-width: 0;
    transition-property: max-width;
    transition-duration: 1s;
}

.menuShow {
    max-width: 300px;
}

.menu > li {
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    background-color: aliceblue;
    min-width: max-content;
}

.menu > li:hover {
    box-shadow: 0 0 5px 5px aquamarine;
    background-color: blanchedalmond;
}

li > a {
    text-decoration: none;
    color: black;
}